$simple-switch_size: 12px;
$simple-switch_outline-size: 3px;
$simple-switch_switch-speed: 250ms;

._simple-switch-checkbox {
    height: 0px;
    width: 0px;
    overflow: hidden;
    opacity: 0;
}

._simple-switch-track {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    background: #ccc;
    border-radius: $simple-switch_size;
    padding: 0 #{$simple-switch_size * 1.25} 0 0;
    border: #{$simple-switch_outline-size} solid #ccc;
    transition: background $simple-switch_switch-speed ease-out;
    outline: none;
    box-sizing: padding-box;

    &.on {
        background: #f44336;
        border: #{$simple-switch_outline-size} solid #f44336;

        .handle {
            transform: translateX(#{$simple-switch_size * 1.25});
        }
    }

    &.focus {
        border: #{$simple-switch_outline-size} solid #03A9F4;
    }

    .handle {
        width: $simple-switch_size;
        height: $simple-switch_size;
        border-radius: $simple-switch_size;
        background: #fff;
        display: block;
        transition: transform $simple-switch_switch-speed ease-out;
    }
}
